
*                   {margin:0;padding:0;}
body                {font:1em/1.4 Verdana, Arial, Helvetica, sans-serif; 
					 background: url(images/bg.jpg) top center no-repeat #fff;}

ol.calendar         {width:52em;margin:0 auto;display:block; min-height: 200px;
					 background: url(images/tl.png) top left no-repeat; padding: 12px 0 0 20px;}
li                  {list-style:none;}


/*
 * Day styles
 -------------------------*/
li li               {width:6em;height:6em;float:left;margin:.2em; padding:.2em;overflow:auto;
					 background: url(images/day-bg.png) bottom right no-repeat; }

/*
 * Day content (UL/OL & P)
 -------------------------*/
li li p             {font-size:.7em;display:block;}
li li ol            {width:auto;}
li li ul li,
li li ol li         {font-size:.7em;display:block;height:auto;width:auto; background: none;
					 margin:0;padding:.2em 0;float:none;}

/*
 * Holiday class
 -------------------------*/
li li.holiday       {  }

/*
 * Inactive months
 -------------------------*/
li#lastmonth li,
li#nextmonth li     { background: url(images/day-bg-inactive.png);}

.current-day {background: #3593C5;color:#fff;font-weight: bold}

#header{font-size: 30px;color: #fff;font-weight: bold;margin-left: 280px}
#header .control{font:12px tahoma, arial, helvetica, sans-serif; padding:5px;-webkit-border-radius:10px;-moz-border-radius:10px;background:none repeat scroll 0 0 #3593C5;border:1px solid #3593C5;font-weight:bold;padding:0.5em;text-decoration:none;}
#header .control{color: #fff;}
#header .control:hover{background: #fff;color: #3593C5; border: 1px solid #fff;}

a{color: #333;}

  #quickaddevents {position:absolute;left:100px;top:790px;width: 720px;height: 80px;padding: 10px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;background: #0A95BE; border: 1px solid #0A95BE;}
  #quickaddevents fieldset{width: 200px;float: left;margin: 5px}
  #quickaddevents fieldset legend{font-weight: bold;color: #fff}
  #quickaddevents input#s{margin-top: 25px;-moz-border-radius:4px;-web-border-radius:4px;border-radius:4px;background:none repeat scroll 0 0 #EEEEEE;border:1px solid #999999;cursor:pointer;padding:3px;}
  #quickaddevents input#s:hover{border-color:#333;background:#ddd;}
  #quickaddevents fieldset{border:0 }
  #quickaddevents select{font-size: 17px;}
  #quickaddevents input[type=text]{font-size: 17px;} 